# Պատճենիր այս ֆայլը .env անունով և գրիր քո իրական key-երը
# cp .env.example .env

TELEGRAM_BOT_TOKEN=8766725521:AAE2fEB8-2nu05ON026ILLV3-avcEp1q2fc
GEMINI_API_KEY=AQ.Ab8RN6JyJ534KX4FUxkhvWsSkS_r6SE3UAMZJ5tC9JBNJSYuAw
